#loading{
    font-size: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}
#filter{
    padding-top: 2em;
    padding-bottom: 2em;
}
#filterBarParent{
    text-decoration: none;
}
#dropDownList{
    height: auto;
    max-height: 24rem;
    overflow-x: hidden;
}
#dropDownItem{
border: #0b0e16 1rem
}
