#root{
    background-color: #0b0e16;
    color: #e7dfdd;
    font-family: 'Raleway SemiBold', sans-serif;
    min-height:100vh;
    position:relative;
}
#appBody{
    padding-bottom:4rem;
}
#footer{
    background-color: #e7dfdd;
    color: #0b0e16;
    font-size: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    position: absolute;
    bottom:0px;
    left: 0px;
    right: 0px;
}
#gitHubLink{
   color: #0b0e16;
}
#loading{
    font-size: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
}